.address-add {
  position: fixed;
  padding: 10px;
  background-color: #FF3300;
  color: white;
  text-align: center;
  left: 5%;
  right: 0;
  width: 90%;
  z-index: 999;
  bottom: 60px;
  border-radius: 15px;
}
.address-add:before,
.address-add:after {
  content: "";
  display: table;
}
.address-add:after {
  clear: both;
}
.address-add:hover,
.address-add:focus,
.address-add:active {
  text-decoration: none;
  color: white;
}
.address-empty {
  width: 100%;
  text-align: center;
  margin-top: 50%;
  font-size: 20px;
}
.address-info {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.address-info-item {
  width: 100%;
}
.address-info-item-name {
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 50%;
  float: left;
}
.address-info-item-phone {
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 50%;
  float: left;
  color: black;
  text-align: right;
}
.address-info-item-addr {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.address-info-option {
  width: 100%;
}
.address-info-option:before,
.address-info-option:after {
  content: "";
  display: table;
}
.address-info-option:after {
  clear: both;
}
.address-info-option input {
  margin: 18px 5px 10px 10px;
  display: block;
  float: left;
}
.address-info-option-setdeault {
  font-size: 18px;
  padding: 13px 10px 10px 0;
  display: block;
  float: left;
}
.address-info-option-edit {
  font-size: 18px;
  margin: 8px 5px;
  color: #FF3300;
  display: block;
  padding: 3px;
  width: 20%;
  float: right;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #FF3300;
}
.address-info-option-edit:hover,
.address-info-option-edit:focus,
.address-info-option-edit:active {
  text-decoration: none;
  color: #FF3300;
}
.address-info-option-pick {
  font-size: 18px;
  margin: 8px 5px;
  color: #FF3300;
  display: block;
  padding: 3px;
  width: 40%;
  float: right;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #FF3300;
}
.address-info-option-pick:hover,
.address-info-option-pick:focus,
.address-info-option-pick:active {
  text-decoration: none;
  color: #FF3300;
}
.address-info-option-delete {
  font-size: 18px;
  margin: 8px 5px;
  color: #FF3300;
  display: block;
  padding: 3px;
  width: 20%;
  float: right;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #FF3300;
}
.address-info-option-delete:hover,
.address-info-option-delete:focus,
.address-info-option-delete:active {
  text-decoration: none;
  color: #FF3300;
}
