.product-item {
  position: relative;
}
.product-item:before,
.product-item:after {
  content: "";
  display: table;
}
.product-item:after {
  clear: both;
}
.product-item > a {
  display: block;
}
.product-item-img {
  padding: 5px;
}
.product-item-img .image {
  width: 100%;
}
.product-item-tag {
  text-align: center;
  background-color: #e1073b;
  color: white;
  white-space: normal;
  width: 3.0em;
  display: block;
  padding: 0 0.2em;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 12px;
  z-index: 900;
}
.product-item-tag:before {
  content: "";
  position: absolute;
  border-color: #e1073b;
  border-style: solid;
  width: 0;
  height: 0;
  top: 100%;
  left: 0;
  border-width: 8px;
  border-left-width: 18px;
  border-right-width: 18px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.product-item-info {
  width: 100%;
  padding: 5px;
  position: relative;
  background-color: white;
}
.product-item-info:before,
.product-item-info:after {
  content: "";
  display: table;
}
.product-item-info:after {
  clear: both;
}
.product-item-extra {
  padding-right: 40px;
  position: relative;
}
.product-item-amount {
  color: #999;
  font-size: 12px;
}
.product-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 45px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.product-item-price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f55c39;
  padding-top: 5px;
  padding-bottom: 2px;
}
.product-item-price:before,
.product-item-price:after {
  content: "";
  display: table;
}
.product-item-price:after {
  clear: both;
}
.product-item-price .left {
  float: left;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.product-item-price .right {
  float: right;
  padding: 0px 10px;
  background-color: #f55c39;
  color: white;
  border-radius: 9px;
}
.product-item-percent {
  background-color: #ddd;
  border-radius: 2px;
  margin: 2px 0;
}
.product-item-finish {
  height: 5px;
  background-color: #febd44;
  border-radius: 2px;
}
.product-item-btn {
  background-color: #e2403d;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  border-radius: 50%;
  display: block;
}
.product-item-btn .fa {
  display: block;
}
.product-item-btn-tmp {
  background-color: #e2403d;
  border: none;
  color: white;
  width: 35px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  border-radius: 50%;
  display: block;
}
.product-item-btn-tmp .fa {
  display: block;
}
