.noti {
  background-color: white;
  position: fixed;
  top: 0;
  left: 15px;
  right: 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 999;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: noti-bounceInDown;
}

.noti-icon {
  color: #5cb85c;
  margin-right: 5px;
}

@keyframes noti-bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}