.order {
  margin-bottom: 51px;
  padding-bottom: 55px;
}
.order .none {
  display: none;
}
.order-pick-up-image {
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.6);
  height: 100%;
}
.order-pick-up-image .image {
  margin-left: 10%;
}
.order-pick-up-image .icon {
  margin-top: 10px;
  margin-left: 48%;
  font-size: 25px;
}
.order-pick-up-image .barcode {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10px;
}
.order-top {
  width: 100%;
}
.order-top:before,
.order-top:after {
  content: "";
  display: table;
}
.order-top:after {
  clear: both;
}
.order-top-item {
  color: black;
  width: 25%;
  padding: 5px;
  text-align: center;
  display: block;
  float: left;
  border-right: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.order-top .active {
  color: #f15f40;
  font-weight: bold;
  border-bottom: 1px solid #f15f40;
}
.order-list {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #dedede;
  background-color: white;
}
.order-list:before,
.order-list:after {
  content: "";
  display: table;
}
.order-list:after {
  clear: both;
}
.order-list-top-item:before,
.order-list-top-item:after {
  content: "";
  display: table;
}
.order-list-top-item:after {
  clear: both;
}
.order-list-top-item .store {
  font-size: 14px;
  margin: 10px 10px;
}
.order-list-top-item .status {
  color: #f95b0d;
  font-size: 13px;
  margin: 10px 10px;
}
.order-list-top .number {
  font-size: 13px;
  color: #afafaf;
  margin: 0px 10px 10px 10px;
}
.order-list-item-info {
  background-color: #f9f9f9;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 10px;
}
.order-list-item-info:before,
.order-list-item-info:after {
  content: "";
  display: table;
}
.order-list-item-info:after {
  clear: both;
}
.order-list-item-info .image {
  width: 80px;
  height: 80px;
  margin: 0px 10px  0px 10px;
  float: left;
}
.order-list-item-info .title {
  margin-top: 5px;
  font-size: 15px;
}
.order-list-item-info .price {
  font-size: 14px;
  color: #afafaf;
}
.order-list-item-info .sku-info {
  margin-bottom: 8px;
}
.order-list-item-info .sku-info .sku {
  color: #afafaf;
  margin-top: 5px;
  font-size: 12px;
}
.order-list-item-info .tag {
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #f15f40;
  border-radius: 10%;
}
.order-list-bottom {
  margin: 5px 0;
  background-color: white;
}
.order-list-bottom:before,
.order-list-bottom:after {
  content: "";
  display: table;
}
.order-list-bottom:after {
  clear: both;
}
.order-list-bottom .total {
  margin-right: 18px;
}
.order-list-button {
  background-color: white;
  margin: 5px 0;
}
.order-list-button:before,
.order-list-button:after {
  content: "";
  display: table;
}
.order-list-button:after {
  clear: both;
}
.order-list-button .text {
  color: #f15f40;
  padding: 4px 10px;
  border-radius: 10%;
  border: 1px solid #f15f40;
  margin-right: 8px;
}
.order .bottom-text {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #afafaf;
}
