.distribution-user-item {
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
}
.distribution-user-item:before,
.distribution-user-item:after {
  content: "";
  display: table;
}
.distribution-user-item:after {
  clear: both;
}
.distribution-user-item .left {
  float: left;
}
.distribution-user-item .left .top .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.distribution-user-item .left .top .name {
  margin-left: 5px;
}
.distribution-user-item .left .bottom {
  padding: 5px;
}
.distribution-user-item .right {
  font-size: 14px;
  float: right;
  background-color: white;
  color: #f15f40;
  padding: 4px 10px;
  border-radius: 15%;
  border: 1px solid #f15f40;
  margin-right: 10px;
  margin-top: 15px;
}
.distribution-user .bottom-text {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #afafaf;
}
