.freight:before,
.freight:after {
  content: "";
  display: table;
}
.freight:after {
  clear: both;
}
.freight-float {
  float: left;
  text-align: center;
}
.freight-button {
  padding: 10px 5px;
  background-color: #337ab7;
  color: white;
  border-color: #337ab7;
}
