.link-group {
  margin-bottom: 15px;
}

.link-group-item {
  background-color: white;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  padding: 10px 15px;
  position: relative;
}

.link-group-item:hover,
.link-group-item:focus,
.link-group-item:active {
  background-color: #eee;
  text-decoration: none;
  color: #333;
}

.link-group-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.link-group-icon {
  margin-right: 5px;
}

.link-group-arrow {
  color: #ccc;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
}